:root {
  --light-grey: #cdcdcf;
  --dark-grey: #a2a2a1;
  --black: #140d10;
  --dark-blue: #152434;
  --red: #b44225;
  --yellow: #e1c346;
  --border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin: auto;
}

.frame {
  background-color: var(--black);
  margin: 4em auto;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px 3px var(--light-grey);
  -moz-box-shadow: 3px 3px 10px 3px var(--light-grey);
  box-shadow: 3px 3px 10px 3px var(--light-grey);
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr) 50px;
  grid-template-rows: 20px repeat(8, 1fr) 50px;
  border: var(--border);
  color: white;
  height: 100%;
  width: 100%;
}

.box {
  border: var(--border);
}

.box:hover {
  border: 4px solid #fff;
}

.box-1 {
  background-color: var(--light-grey);
}

.box-2 {
  background-color: var(--dark-grey);
  grid-column: span 5;
}

.box-3 {
  background-color: var(--light-grey);
  grid-column: 7 / -1;
  grid-row: span 2;
}

.box-4 {
  background-color: var(--light-grey);
  grid-row: span 4;
}

.box-6 {
  background-color: var(--dark-blue);
  grid-column: span 4;
}

.box-7 {
  background-color: var(--dark-grey);
  grid-column: span 3;
}

.box-8 {
  background-color: var(--red);
  grid-column: span 2;
}

.box-9 {
  grid-column: span 2;
}

.box-10 {
  background-color: var(--dark-blue);
}

.box-11 {
  grid-row: span 2;
}

.box-12 {
  background-color: var(--yellow);
  grid-column: span 2;
  grid-row: span 2;
}

.box-13 {
  background-color: var(--dark-blue);
  grid-column: span 2;
  grid-row: span 3;
}

.box-14 {
  background-color: var(--red);
  grid-column: span 2;
  grid-row: span 3;
}

.box-15 {
  background-color: var(--dark-grey);
  grid-row: span 4;
}

.box-16 {
  background-color: var(--dark-grey);
  grid-row: span 4;
}

.box-17 {
  background-color: var(--dark-grey);
  grid-row: span 4;
}

.box-18 {
  background-color: var(--yellow);
  grid-column: span 2;
}

.box-19 {
  background-color: var(--red);
  grid-column: span 2;
}

.box-20 {
  background-color: var(--light-grey);
  grid-column: span 2;
}

.box-21 {
  background-color: var(--yellow);
  grid-column: span 2;
}

.box-22 {
  grid-column: span 2;
  grid-row: span 2;
}

.box-23 {
  background-color: var(--dark-grey);
  grid-column: span 2;
  grid-row: span 2;
}

.box-24 {
  background-color: var(--dark-blue);
  grid-column: span 2;
  grid-row: span 2;
}

.box-25 {
  background-color: var(--red);
  grid-row: span 3;
}

.box-26 {
  background-color: var(--yellow);
  grid-column: span 2;
}

.box-27 {
  background-color: var(--light-grey);
  grid-column: span 4;
}
